.accordion__content {
  padding: 4px 7px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accordion__toggle {
  width: 100%;
  padding: 5px 0;
  padding-left: 4px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  position: relative;
}

.accordion__toggle > i {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(0%, -50%);
}

.accordion__remove {
  color: rgb(184, 44, 1);
  padding: 0 7px 0 1px;
}

.accordion__toggle:hover {
  cursor: pointer;
}

.accordion__link {
  display: block;
  color: #000;
}

.accordion__link:hover {
  color: #000;
  /* box-shadow: 0 0 2px #61a4e2; */
}

.accordion__link:hover > .accordion__input {
  box-shadow: 0 0 6px #61a4e2; 
}

.accordion__link:hover input, .accordion__link:hover label {
  cursor: pointer;
}

.accordion__input {
  transform: scale(1.5);
}

.accordion__label {
  padding-left: 10px; 
}

hr {
  margin: 0.5rem 0;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 899px) {
  .accordion__toggle {
    padding: 15px 20px;
  }

  .accordion__content {
    padding: 4px 25px;
  }

  hr {
    margin: 0;
  }
}