.headerTop {
    width: 100%;
    height: 65px;
    line-height: 65px;
}

.headerTop--dark {
    background-color: #353647;
    color: #fff;
}

.headerTop__container {
    width: 90%;
    margin: 0 auto;
}

.headerTop__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerTop__miniCart {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.headerTop__search {
    line-height: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: 10px 0; */
}

.search__input {
    /* height: calc(100% - 25px); */
    height: 38px;
    border-radius: 5px;
}

/* HAMBURGER STYLES */

.headerTop__hamburger {
    line-height: inherit;
    width: 30px;
    height: 21px;
    margin: 5px 0;
    position: relative;
    transform: rotate(0deg);
    transition: .3s ease-in;
    cursor: pointer;
}

.headerTop__hamburger > span {
    display: block;
    position: absolute;
    width: inherit;
    height: 3px;
    background-color: #fff;
    opacity: 1;
    top: 0;
    left: 0;
    transform: rotate(0deg);
    transition: 0.3s ease-in;
}

.headerTop__hamburger>span:nth-child(2){
    top: 9px;
}

.headerTop__hamburger>span:nth-child(3){
    top: 18px;
}

.headerTop__hamburger.active>span:nth-child(1) {
    top: 9px;
    transform: rotate(45deg);
}

.headerTop__hamburger.active>span:nth-child(2) {
    opacity: 0;
}

.headerTop__hamburger.active>span:nth-child(3) {
    top: 9px;
    transform: rotate(-45deg);
}

/* MEDIA QUERIES */
@media only screen and (min-width: 900px) {
    .headerTop__hamburger, .headerTop__miniCart {
        display: none;
    }
}