* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.productCard {
    display: inline-block;
    padding: 10px 20px;
    /* display: flex; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    text-align: left;
    white-space: normal;
    width: 200px;
    border: 1px solid #fff;
    /* width: 14.2%; */
}

.productCard__link {
    color: #000;
}

.productCard__link:hover {
    color: #000;
}

.productCard__image {
    width: 100%;
    height: 170px;
    /* height: 150px; */
    text-align: center;
    margin-bottom: 5px;
}

.productCard__image > img {
    max-width: 100%;
    height: 100%;
    /* object-fit: cover; */
}

.productCard__title {
    width: 100%;
    height: 48px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.1rem;
    margin-bottom: 0px;
    padding: 0;
}

.productCard__studio {
    width: 100%;
    /* height: 25px; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    padding: 0;
    font-size: 1.0rem;
}

.productCard__price {
    width: 100%;
    /* height: 25px; */
    margin-bottom: 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

.productCard__text--warning {
    color: #fa4c07;
}

.productCard__button {
    width: 100%;
    border: 1px solid rgb(160, 187, 245);
    border-radius: 5px;
    background-color: inherit;
    padding: 5px;
    text-transform: uppercase;
    font-weight: 500;
}


/* .productCard2 {
    display: inline-block;
    padding: 10px;
    flex-direction: column;
    justify-content: flex-start;
    white-space: normal;
    align-items: start;
    text-align: left;
    width: 200px;
} */