.productPage__features {
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
}

.bar {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    background-color: #ecebeb;
    border-bottom: 2px solid lightgray;
    padding: 0 15px;
}

.bar__item {
    padding: 5px 20px;
}

.bar__item:hover {
    cursor: pointer;
}

.bar__item--active {
    border: 0px solid black;
    /* border-top: 1px solid lightgray; */
    margin-bottom: -2px;
    font-weight: 500;
    background-color: #fff;
    /* border: 1px solid #2aa6f8; */
    /* background-image: radial-gradient(#17abf0,#47e3ff); */
}

/* .tab {
    display: none;
} */