.cart {
    background-color: #e4e4e4;
    padding: 110px 0 10px;
}

.cart__container {
    width: 90%;
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(243, 243, 243);
}

.cart__title {

}

.cart__head {
    display: grid;
    grid-template-columns: 120px auto 150px 130px 130px 130px 70px;
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid #e4e4e4;
    /* box-shadow: 0px 3px 8px #d4d4d4; */
    box-shadow: 0px 10px 5px -5px #d3d3d3;
}

.cart__head>div {
    padding: 0 10px;
}

.cart__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    grid-gap: 20px;
}

.cart__info>i {
    font-size: 4rem;
}

.cart__colTitle {

}

.cart__colTitle--right {
    text-align: right;
}

.cart__colTitle--left {
    text-align: left;
}

.cart__items {

}

/* CARTSUMMERY STYLES */

.cartSummary {
    display: grid;
    grid-template-columns: auto 130px 130px 70px;
    margin-top: 30px;
    padding: 10px 0;
    font-weight: 500;
    font-size: 1.3rem;
}

.cartSummary>div {
    padding: 10px;
}

.cartSummary__col {

}

.cartSummary__col--right {
    text-align: right;
}


.cart__footer {
    padding: 20px 75px;
    /* text-align: right; */
    /* padding-right: 190px; */
    display: flex;
    justify-content: flex-end;
}

.cart__buttons {
    /* margin-right: 70px; */
    padding: 10px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 500;
    background-color: #353647;
    color: #fff;
}

/* MEDIAQUERIES */
@media only screen and (max-width: 1200px) {
    .cart__head {
        display: none;
    }
}

@media only screen and (max-width: 800px) {
    .cartSummary {
        grid-template-columns: auto 130px 130px auto;
    }

    .cart__footer {
        justify-content: center;
    }
}