.searchContent {
    display: inline-block;
    text-align: left;
}

.searchContent__error {
    width: 100%;
    border: 1px solid rgb(253, 43, 43);
    background-color: rgba(253, 105, 105, 0.767);
    text-align: center;
    font-weight: 500;
    border-radius: 5px;
    padding: 10px 5px;
}


