.pagination {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.pagination__button {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 5px;
}

.pagination__button--active {
    background-color: rgb(96, 160, 243);
}

.pagination__button:hover {
    background-color: rgba(152, 195, 250, 0.61);;
}

.pagination__link {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}