.accordion__content {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}

.accordion__toggle {
  width: 100%;
  padding: 5px 0px;
  display: flex;
  justify-content: space-between;
}

hr {
  margin: 0.5rem 0;
}