/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.productPage__main {
    background-color: #fff;
    border-radius: 5px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "title title title"
        "description description price";
}

.productPage__title {
    grid-area: title;
    border-bottom: 1px solid rgba(199, 199, 199, 0.678);
}

.productPage__price {  
    grid-area: price;
}

.productPage__price {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productPrice__base {
    font-weight: 500;
    font-size: 2rem;
    color: rgba(236, 42, 68, 0.933);
}

.productPage__basket, .productPage__wishlist {
    background-color: white;
    border-radius: 5px;
    width: 250px;
    padding: 5px 20px;
    margin-bottom: 30px;
}