.productGallery {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4,1fr);
}

.productGallery > img {
    width: 100%;
    height: 200px;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 899px) {
    .productGallery {
        grid-template-columns: repeat(2, 1fr);
    }
}