.cartItem {
    display: grid;
    grid-template-columns: 120px auto 150px 160px 130px 130px 100px;
    align-items: center;
    min-height: 150px;
    font-size: 1.2rem;
    border-bottom: 1px solid #e4e4e4;
}

.cartItem__image, .cartItem__title, .cartItem__platform, .cartItem__quantity, .cartItem__unitPrice, .cartItem__totalPrice, .cartItem__delete {
    padding: 10px;
}

.cartItem__image {
    display: flex;
    justify-content: center;
}

.cartItem__image > img {
    max-width: 75px;
    max-height: 150px;
}

.cartItem__title {
    box-flex: 1;
}

.cartItem__platform {
}

.cartItem__quantity {
    text-align: right;
    display: flex;
}

.cartItem__unitPrice {
    text-align: right;
}

.cartItem__totalPrice {
    text-align: right;
}

.cartItem__delete {
    text-align: center;
}

.cart__button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.cart__button--left {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.cart__button--right {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.cart__button--light {
    border: 1px solid #d4d4d4;
    background-color: #e4e4e4;
    color: #000;
}

.cart__button--danger {
    border: 1px solid #ff9696;
    background-color: #f33c3c;
    color: white;
}

.cart__input {
    width: 60px;
    text-align: center;
    border: 1px solid #d4d4d4;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 1100px) {
    .cartItem {
        display: grid;
        grid-template-columns: 100px auto 140px 140px 60px;
        grid-template-rows: auto;
        grid-template-areas: 
            "image title title title delete"
            "image platform platform platform delete"
            "image quantity unitPrice unitPrice delete";
        /* align-items: center; */
    }

    .cartItem__image {
        grid-area: image;
    }
    
    .cartItem__title {
        grid-area: title;
    }
    
    .cartItem__platform {
        grid-area: platform;
    }
    
    .cartItem__quantity {
        grid-area: quantity;
    }
    
    .cartItem__unitPrice {
        grid-area: unitPrice;
    }
    
    .cartItem__totalPrice {
        grid-area: totalPrice;
    }
    
    .cartItem__delete {
        grid-area: delete;
    }
}
