.productMobileSort {
    display: none;
    position: fixed;
    overflow-y: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    z-index: 1001;
}

.productMobileSort__header {
    height: 70px;
    background-color: #e4e4e4;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.productMobileSort__header>h4 {
    margin: 0;
}

.productMobileSort__close {
    cursor: pointer;
    font-size: 32px;
    font-weight: 600;
}

.productMobileSort__group {
    width: 100%;
    height: calc(100vh - 140px);
    overflow-y: auto;
}

.productMobileSort__listItem {
    /* padding: 10px 20px; */
    border-bottom: 1px solid #acacac;
}

.productMobileSort__radioLabel {
    cursor: pointer;
    width: 100%;
    height: auto;
    padding: 10px 20px;
    margin: 0;
}

.productMobileSort__radio {
    transform: scale(1.5);
    margin-right: 15px;
}

.productMobileSort__desc {

}

.productMobileSort__footer {
    height: 70px;
    width: 100%;
    padding: 10px 20px;
}

.productMobileSort__button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 700;
    border: 3px solid #acacac;
    background-color: #fff;
    color: #acacac;
}

.productMobileSort__button:hover {
    background-image: radial-gradient(#17abf0,#47e3ff);
    border-color: #17abf0;
    color: #fff;
}

/* MEDIA QUERIES */

/* @media only screen and (max-width: 899px) {
   
} */

@media only screen and (min-width: 900px) {
    .productMobileSort {
        display: none;
    }
}