/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

.productsWrapper {
    background-color: #e4e4e4;
    padding: 110px 0 10px;
}

.productsWrapper__container {
    width: 90%;
    margin: 30px auto;
}

.productsWrapper__content {
    background-color: #fff;
    box-shadow: 0 3px 6px rgb(243, 243, 243);
    padding: 10px 18px;
    border-radius: 5px;
}

.productsWrapper__title {
    padding: 10px 0;
}

.productsWrapper__sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
    font-weight: 500;
}

.productsContent {
    display: grid;
    grid-template-columns: 260px 1fr;
    grid-gap: 30px;
    background: linear-gradient(rgba(0,0,0,.1),#fff) center/1px 90% no-repeat;
    background-position: 275px 0;
}


/* .productsContent {
    display: grid;
    grid-template-columns: auto 1000px;
    grid-gap: 30px;
} */

.productsContent__results {
    /* display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    text-align: center;
}


.productsFilter {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
}

.productsFilter__button {
    padding: 5px 0;
    font-weight: 500;
    border: none;
    background-image: radial-gradient(#17abf0,#47e3ff);
    color: #fff;
}

.productsFilter__panel {
    position: fixed;
    background-color: #fff;
    z-index: 999;
    margin: 0;
    padding: 20px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 899px) {
    .productsWrapper {
        padding: 65px 0 10px;
    }

    .productsContent {
        grid-template-columns: 1fr;
        background: none;
    }

    .productsContent__filter {
        display: none;
    }

    .productsWrapper__sort {
        display: none;
    }
}

@media only screen and (min-width: 899px) {
    .productsFilter {
        display: none;
    }

}